node_modules/*
platforms/ios/weexplus-demo/app/*
!platforms/ios/weexplus-demo/app/weexplus-demo.json
platforms/android/weexplus-demo/app/src/main/assets/app/*
!platforms/android/weexplus-demo/app/src/main/assets/app/weexplus-demo.json
platforms/ios/weexplus-demo/Pods
platforms/ios/weexplus-demo/products/
platforms/ios/weexplus-demo/jpush/
platforms/ios/weexplus-demo/oss/
platforms/ios/weexplus-demo/wechat/
platforms/ios/weexplus-demo/alipay/
platforms/ios/weexplus-demo/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/
.svn
*.DS_Store
.idea
build
busi
temp
dist/*
*.iml
release
.gradle
/build